/* 
    Document   : client
    Created on : 18-sep-2013, 10:46:58
    Author     : Leo
    Description:
        Purpose of the stylesheet follows.
*/
body
{
    /*background-color: #bA7119;/*#ECE7cF;*/
    background-color:#ECE7cF;
    background-image:-moz-linear-gradient(top,#bA7119,#ECE7cF);
    background-image:-webkit-gradient(linear,0 0,0 100%,from(#bA7119),to(#ECE7cF));
    background-image:-webkit-linear-gradient(top,#bA7119,#ECE7cF);
    background-image:-o-linear-gradient(top,#bA7119,#ECE7cF);
    background-image:linear-gradient(to bottom,#bA7119,#ECE7cF);
    background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bA7119',endColorstr='#ECE7cF',GradientType=0)
}
@font-face {
 font-family: "broadway";
 src: url("broadw__.eot") /* EOT file for IE */
}
@font-face {
    font-family: "broadway";
    src: url(broadw__.ttf) format("truetype"); /* TTF file for CSS3 browsers */
}
.menu-font{
    font-family: broadway;
    font-size: 18px;
}
.menu-font ul li{
    font-family: Arial;
    font-size: 14px;
}
h1{
    font-size: 26px;
    text-align: center;
    font-family: broadway;
    color: #880000;
}
.navbar-inverse .navbar-inner {
    
    /*background-color: #1B1B1B;*/
    /*background-image: linear-gradient(to bottom, #684808, #222222);*/
    /*border-color: #252525;*/  
    background-image: linear-gradient(to bottom, #4A1119, #bA7119);
    background-repeat: repeat-x; 
}
.navbar-inner {
   border-color: #bA7119 !important;  
}
.navbar-inverse .nav li.dropdown.open>.dropdown-toggle, .navbar-inverse .nav li.dropdown.active>.dropdown-toggle, .navbar-inverse .nav li.dropdown.open.active>.dropdown-toggle {
    color: #F5E496;
    background-color: transparent;
}
.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-submenu:hover>a,.dropdown-submenu:focus>a{
    color:#fff;text-decoration:none;background-color:#7D2428;
    background-image:-moz-linear-gradient(top,#B03443,#7D2428);
    background-image:-webkit-gradient(linear,0 0,0 100%,from(#B03443),to(#7D2428));
    background-image:-webkit-linear-gradient(top,#B03443,#7D2428);
    background-image:-o-linear-gradient(top,#B03443,#7D2428);
    background-image:linear-gradient(to bottom,#B03443,#7D2428);
    background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#B03443',endColorstr='#7D2428',GradientType=0)
}
.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus{
    color:#fff;text-decoration:none;background-color:#7D2428;
    background-image:-moz-linear-gradient(top,#B03443,#7D2428);
    background-image:-webkit-gradient(linear,0 0,0 100%,from(#B03443),to(#7D2428));
    background-image:-webkit-linear-gradient(top,#B03443,#7D2428);
    background-image:-o-linear-gradient(top,#B03443,#7D2428);
    background-image:linear-gradient(to bottom,#B03443,#7D2428);
    background-repeat:repeat-x;outline:0;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#B03443',endColorstr='#7D2428',GradientType=0)
}
a, a:hover{
    color: #880000;
}
.title-item-select{
    /*color: #880000 !important;*/
    font-weight: bold;
}
.font-important{
    color: #880000 !important;
    font-weight: bold;
}
.title-bar{
    /*background-color: #f1f1f1;*/
    border-bottom: 1px #DDD solid; 
    /*padding: 0px 20px 0px 20px;*/
    /*left: 10pX;*/

    /*position: relative;*/
}
.logo_client{
    /*float: left;*/
    /*margin-left: 10px;*/
    /*width: 150px;*/
    height: 55px;
    
}
.line-bottom {
    border-bottom: 1px #DDD solid !important;
    margin-bottom: 10px;
}
/*#tblContacts{
    background-color: #7D2428;
    color: #FFF;
}*/
#tblInternal th{
    /*background-color: #BBB;*/
    background-color: #7D2428;
    color: #FFF;
}

#tblInternal tr:nth-child(even) {
    background: #FFF1D0;
    /*background: #F1F1F1;*/
    /*color: #000;*/
}

#tblInternal tr:nth-child(odd) {
    background: #FFF6BB;
    /*background: #F5F5F5;*/
    /*color: #000;*/
}

#tblInternal tr:hover>td{
    background: #B4B293;
    /*background: #DDD;*/
    /*color: #FFF;*/
}

#tblContacts th{
    background-color: #7D2428;
    color: #FFF;
    /*text-align: center;*/
}
#tblContacts tr:nth-child(even) {
    background: #FFF1D0;
    /*color: #000;*/
}
#tblContacts tr:nth-child(odd) {
    background: #FFF6BB;
    /*color: #000;*/
}
#tblContacts tr:hover>td{
    background: #B4B293;
    /*color: #FFF;*/
}
/*#tblContacts a:active{
    background-color: #7D2428;
    color: #FFF;
}*/
/*.selected { background-color: #ddd !important; }*/
/*#tblContacts tr:visited>td{
    background: #B4B293;

}

#tblContacts tbody tr.selected td {
    background: none repeat scroll 0 0 #FFCF8B;
    color: #000000;
}

tr.clicked {
      background-color: #abc;
}

.bg{background-color:#ff0000 !important;}​
.table tbody tr:hover td, .table tbody tr:hover th {
    background-color: transparent;
}*/
/*$('#tblContacts').click(function() {
         //alert('entro');
         $(this).toggleClass("clicked");
         });
         
         $('table.table tbody tr').on('click', function() {
         $(this).closest('table').find('td').removeClass('bg');
         $(this).find('td').addClass('bg');
         });
         $('.table > tr').click(function() {
         alert('entro');
         });
        $(this).closest('tr td').css("background-color","#ffffff");
        $(this).parent().parent().children('td').each(function() {
            alert('entro');
            $(this).addClass("selected");
        });*/
/*
#B4B293
#563F49
#5A1119

granate
#7D2428
#530D0F

crema
#F5E496
#E3D6B4
#FFF6BB
#FFF1D0
*/
