/* 
    Document   : client
    Created on : 18-sep-2013, 10:46:58
    Author     : Leo
    Description:
        Purpose of the stylesheet follows.
*/

.title-item-select{
    color: #880000 !important;
}
.logo_client{
    /*float: left;*/
    /*margin-left: 10px;*/
    /*width: 150px;*/
    height: 55px;
}
/*
#B4B293
#563F49
#5A1119
*/
