/* 
    Document   : public
    Created on : 12-mar-2013, 0:09:22
    Author     : Carlos Bello
    Description:
        Personalización de la plantilla de Bootstrap y estilos de la plantilla
        de páginas públicas.
*/

/* Personalización de Jumbotrons de Bootstraps
-------------------------------------------------- */

/* Base class
------------------------- */
.jumbotron {
    color: #fff;
    background-color: #FED026;
    background-image: url("../img/header.jpg");
    background-position: center top;
    background-repeat: no-repeat;    
}

.subhead {
    margin-bottom: 30px;
}

.logo{
    float: left;
    margin-left: 10px;
}
