/* 
    Document   : admin
    Created on : 12-mar-2013, 0:09:22
    Author     : Carlos Bello
    Description:
        Estilos de la plantilla de páginas de administración.
*/

.container-first {
    /*margin-top: 43px;*/
    margin-top: 75px;
    position: relative;
    background-color: #fafafa;
    padding: 0px 20px 0px 20px;
}

.form-first {
    margin-top: 10px;
}

.feedback.top {
    position: absolute; 
    left: 50%; 
    top: 0; 
    margin-left: -25%; 
    width: 50%;
}

.profilePhoto.medium {
    height: 70px;
    width: 70px;
}

.profilePhoto.small {
    height: 20px;
    width: 20px;
}

label.error {
    color: #b94a48;
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) { 
    .container-first { margin-top: 0; }

    .feedback.top {
        margin-left: -37.5%; 
        width: 75%;
    }
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) { 
    .container-first { margin-top: 0; }

    .feedback.top {
        left: 0;
        right: 0;
        margin-left: 0; 
        width: auto;
    }
}

.table-active_bg {
    background-color: #0069d6 !important;
}

.jumbotron {
    color: #fff;
    background-color: #FED026;
    background-image: url("../img/header.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    height: 250px;
    padding-top: 70px;
    margin-top: -20px;
    margin-left: -20px;
    margin-right: -20px;
}

.logo{
    float: left;
    margin-left: 10px;
    width: 300px;
}
body
{
    background-color: #ECE7cF;
}

.cursor-pointer{
    cursor: pointer;
}
.fixed {
    min-width: 250px;
}

.ui-datepicker {
    width: 16em !important;
}