/* 
    Document   : admin
    Created on : 12-mar-2013, 0:09:22
    Author     : Carlos Bello
    Description:
        Estilos de la plantilla de páginas de administración.
*/

.container-first {
    margin-top: 43px;
}

.form-first {
    margin-top: 10px;
}