@import 'helpers.less';
@import 'bootstrap-styling.less';

.container-first {
    margin-top: 72px;
}

.nav li.selected a {
    &:after {
        .glyphicon();
        content: '\e013';
        margin-left: @space-m;
    }
}