@import '../admin.css';
a:focus {
  text-decoration: none;
}
.panel-heading a[data-parent] {
  display: block;
}
.panel-heading a[data-parent]:hover {
  text-decoration: none;
}
.container-first {
  margin-top: 72px;
}
.nav li.selected a:after {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: '\e013';
  margin-left: 10px;
}
html,
body {
  height: 100%;
}
#bulkOperationsContainer {
  position: absolute;
  padding-top: 68px;
  top: 0;
  bottom: 10px;
  left: 0;
  right: 0;
  overflow: hidden;
}
#bulkOperationsContainer > .content {
  height: 100%;
}
#filter {
  height: 100%;
  width: 100%;
  position: relative;
}
#filter label {
  font-weight: normal;
}
#filter #filtersWrapper {
  overflow: auto;
}
#filter .filterActions {
  width: 100%;
  position: relative;
  height: 40px;
  /* TODO: Remplazar por clearfix*/
}
#filter .filterActions > *:first-child {
  width: 16px;
  margin-top: 12px;
}
#filter .filterActions > *:last-child {
  padding-left: 5px;
  width: 32px;
  float: right;
  margin-top: 10px;
}
#filter .filterActions > div {
  left: 20px;
  right: 36px;
  top: 0;
  width: auto;
  position: absolute;
}
#filter .filterActions input[type=search] {
  width: 100%;
}
#filter .filterableData {
  max-height: 150px;
  overflow: auto;
  padding: 0;
  margin-top: 10px;
}
#filter .filterableData li {
  list-style: none;
}
#filters {
  overflow: auto;
  height: 100%;
}
.bulkMessagePartial {
  position: relative;
  height: 100%;
  width: 100%;
}
.bulkMessagePartial > div {
  height: 100%;
}
.bulkMessagePartial .filterWrapper {
  width: 25%;
  height: 100%;
  padding-right: 15px;
  float: left;
}
.bulkMessagePartial .bulkMessageWrapper {
  width: 75%;
  height: 100%;
  float: right;
}
.bulkMessagePartial .bulkMessageWrapper > div > * {
  margin-bottom: 10px;
}
.bulkMessagePartial .bulkMessageWrapper .akTo {
  padding: 5px 10px 10px 20px;
  position: relative;
  display: block;
  border: 1px solid #efefef;
  min-height: 52px;
  max-height: 120px;
  overflow: auto;
}
.bulkMessagePartial .bulkMessageWrapper .akTo label {
  padding-top: 10px;
}
.bulkMessagePartial .bulkMessageWrapper .akTo ul {
  display: inline;
  padding: 0;
}
.bulkMessagePartial .bulkMessageWrapper .akTo li {
  display: inline-block;
  list-style: none;
  white-space: nowrap;
  background-color: #efefef;
  padding: 5px;
  margin: 5px 5px 0 0;
}
.bulkMessagePartial .bulkMessageWrapper .akTo li:first-child {
  margin-left: 10px;
}
.bulkMessagePartial .bulkMessageWrapper .akTo li a {
  color: #898989;
}
.bulkMessagePartial .bulkMessageWrapper .akTo li a:hover {
  color: #303030;
  text-decoration: none;
}
.bulkMessagePartial .bulkMessageWrapper .akSubject {
  display: block;
  width: 100%;
}
.bulkMessagePartial .bulkMessageWrapper .akBody > * {
  height: 100%;
}
.bulkMessagePartial .bulkMessageWrapper .k-button {
  text-transform: none;
}
.bulkSmsPartial .akBody textarea {
  width: 100%;
  max-width: 100%;
  max-height: 100%;
}
/*# sourceMappingURL=bulk_operations.css.map */